<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or metadata.title }}</title>
	<style>
		html { font-size: 1.5rem; font-family: Consolas, monaco, monospace; }
		html, body { margin: 0; padding: 0; }
		header, footer { text-align: center; background-color: #fbe077; }
		section { max-width: 20rem; margin: 2rem auto 0 auto; }
		h1, h2, h3, h4, h5, h6 { font-family: Impact, Arial Black, sans serif; }
	</style>
</head>
<body>
	<header>
		<h1>
			{{ title or metadata.title }}
		</h1>
	</header>
	<section>
		<article>
			{{ content | safe }}
		</article>
	</section>
	<footer>
		<p>
			<a href="{{ '/' | url }}">
				{{ metadata.title }}
			</a>
		</p>
	</footer>
</body>
</html>
